body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: auto;
}
#heart {
  background: rgb(189, 189, 189);
}
#heart:focus {
  background: royalblue;
}
.centerofpage {
  text-align: center;
  overflow: auto;
  margin: 0;
  margin-top: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mypadding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.mybackbutton {
  padding-top: 1.5rem;
  padding-left: 1rem;
}
